*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;                                                
    font-family: 'Whitney-Semibold', sans-serif;
}

html{
    min-width: 1250px;
}

/* ***********************************************!! header ************** */
header{
    width: 100%;
    height: 470px;
    background-image: url("../img/jumbo.png");
    text-align: center;
    background-size:contain ;
    background-repeat: no-repeat;
}

.access-link-header a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.access-link-header > button{
    background-color: white;
    border:none;
    padding: 7px 14px;
    border-radius:15px ;
}


ul{
    list-style: none;
}

i{
    margin-right: 8px;
}

hr{
    border-color:#7289da ;
}

form{
    margin-bottom: 20px;
}

/* form selct option */
select{
    background-color: transparent;
    border: transparent;
    color: white;
}

option{
    color: black;
}

a{
    text-decoration: none;
}

/* ************************* */

/* container for all sections (modificare proprietà)  */
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
 /*   background-color: tomato; */
}

.main-section{
    text-align: center;
    margin: 0 auto;
}
/* ***************************** */
.container-menu{
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 80px ;
}

/* **************?CLEARFIX + FLOAT**************** */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}
/* ********************************************************? */

/* List menu */
header .container-main-nav li{
    display: inline-block;
    margin-right: 20px;
}

.container-main-nav{
    width: calc(50% - 40px);
    margin: 0 20px 0 20px;
}

/* *******************!logo header**************************/
.container-logo{
    width: 25%;
    height:80px;
}

.logo{
    vertical-align: middle;
}
/* ****************************************************! */
.container-button{
    width: 200px;
}

.button{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: none;
}

.color-white{
    color: white;
}  

/* ************************************!JUMBTRON****************************/
.title-jumbotron{
    font-size: 50px;
    margin-bottom: 20px;
}

.container-paragraph{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.paragrafo-jumbotron{
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 25px;
   
}

.button-white{
    background-color:whitesmoke;
    width:180px;
    margin-right: 20px;
}

.button-black{
    width: 220px;
    background-color: black;
}

.button-white>a{
    color:black;
}

.button-black a{
    color: white;
}
.container-header-jumbotron a{
    text-decoration: none;
}
/* ***************************************!!!!!MAIN**************************** */

.column-big{
    width:calc(75% - 40px);
    margin:60px 0px 0 40px ;
  
 /*    background-color: rgb(166, 71, 255); */
}

.column-small{
    width:25%;
    /* background-color:yellow; */
    margin:60px 0px 0 0px ;
}


.size-img-small{
    width: 600px;
}

.title-section{
    font-size: 35px;
    margin-bottom: 20px;
    text-align: left;
}

/* ***!last section with bigger title and image */
.title-middle{
    font-size: 40px;
    margin-bottom: 20px; 
}

.back-grey{
    background-color:rgba(246,246,246,255) ;
}

.last-section{
    padding-top: 150px ;
    padding-bottom: 30px;
}

.container-paragraph-four{
    width:800px;
    margin:0 auto;
}


.section-four-subtitle{
    margin-bottom: 20px;
}
/* *************************************************! */

.background-violet{
    background-color: #8ea1e1;
}

/* **********************************!!! Footer *********************************/

footer{
    width:100%;
    background-color: rgba(35,39,42,255);
    height: 500px;
}

footer a{
    color: white;
}

.large-column-footer{
    width: 30%;
    margin-bottom: 20px;
    text-align: left;
}

.small-clm-footer{
    width: calc(70% / 4);
    margin-bottom: 20px;
    text-align: left;
}

.container-footer-list{
    padding-top: 50px;
}

.color-purple{
    color: #7289da;
}

.large-column-footer > h4{
    margin-bottom: 15px;
}

.small-clm-footer > h5{
    margin-bottom: 10px;
}

.footer-list > li{
    margin-bottom:10px;
    font-size: 0.8rem;
}

.container-flag{
    margin-bottom: 15px;
}

.italy-flag{
    width: 30px;
}

span > i{
    color: white;
}

.container-footer-logo{
    position: relative;
}

.logo-footer{
    position: absolute;
    top: 30px;
    left: 0;
}

.button-footer{
    position: absolute;
    top: 30px;
    right: 0;
}

#size-logo-footer{
    width:100px;
}